.custom-scrollbar {
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;  /* Hide scrollbar for IE & Edge */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 0px;  /* Hide scrollbar for Chrome, Safari, and Opera */
    height: 0px;
}
